.produto h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.produto h2 {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 1em;
}

.cores {
    position: relative;
}

.produto label img {
    display: none;
    max-width: 100%;
    margin-top: 50px;
}

.produto input:checked + label img {
   display: inline; 
}

.produto label::before {
    content: '';
    background: silver;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    z-index: 1;
    box-sizing: border-box;
}

.produto input:checked + label::before {
    border: 4px solid rgba(0,0,0,.5);
    padding: 5px;
}

.produto label[for=azul]::before {
    background: #66F;
    left: 0;
}

.produto label[for=verde]::before {
    background: #3C6;
    left: 60px;
}

.produto label[for=rosa]::before {
    background: #F66;
    left: 120px;
}

.produto input[type=radio] {
    opacity: 1;
    position: absolute;
    top: 45px;
    left: 10px;
}

.produto legend {
    
    /*font: bold 0.9em/2.5 Arial;*/ 
    /* isso aqui é a mesma coisa que as 4 propriedades abaixo:*/
    font-weight: bold;
    font-size: .9em;
    line-height: 2.5;
    font-family: Arial;

    text-transform: uppercase;
}

button.comprar {
    background: #91bd3c;
    border: none;
    color: #333;
    font-size: 1.4em;
    text-transform: uppercase;
    box-shadow: 0 1px 3px #777;
    display: block;
    padding: .5em 1em;
    margin: 1em auto;
}

.detalhes {
    padding: 2em 0;
}

.detalhes h2 {
    font-size: 1.5em;
    line-height: 2;
}

.detalhes p{
    margin: 1em 0;
    font-size: 1em;
    line-height: 1.5;
    max-width: 36em;
}

@media(min-width: 500px){
    .detalhes {
        font-size: 1.2em;
    }
}

table {
    border-collapse: separate;
    border-spacing: 4px;
}

thead {
    background: #999;
}

thead th {
    font-weight: bold;
    padding: .3em 1em;
    text-align: center;
}

td {
    padding: .3em;
}

tr:nth-child(2n){
    background: #ccc;
}

td:first-child {
    font-style: italic;
}

tfoot td {
    text-align: right;
}

/* breakpoint */
@media(min-width: 630px){

    .produto {
        position: relative;
        padding-left: 40%;
        margin: 40px 0;
    }

    .cores {
        position: static;
    }

    .cores label::before {
        position: static;
    }
    
    .cores label img {
        position: absolute;
        top: 0;
        left: 40px;
        margin-top: 0;
        width: auto;
        max-height: 100%;
        border: 2px solid #ccc;
        z-index: 1;
    }

    .produto input[type=radio]{
        left: 150px;
    }

    button.comprar {
        margin-left: 0;
        margin-right: 0;
    }

    .principal {
        min-height: calc(100vh - 88px - 95px) ;
    }
}