body {
  color: white;
  font-size: 40px;
}

.pai1 {
  background-color: magenta;
  text-align: center;
  width: 800px;
}

.pai2 {
  background-color: aqua;
  text-align: right;
}

div {
  display: inline;
  background-color: red;
  height: 400px;
  width: 400px;
  margin: 0;

  /* o browser escreveu
  font-size: inherit; */
}

.first {
  background-color: blue;
}

.second {
  background-color: red;
}

.last {
  background-color: black;
}

p {
  color: black;
  text-align: center;
}