body {
  color: white;
  font-size: 40px;
}

.pai1 {
  background-color: magenta;
  text-align: center;
}

.pai2 {
  text-align: justify;
  background-color: aqua;
}

div {
  display: inline-block;
  background-color: yellow;
  height: 200px;
  width: 200px;

  /* o browser escreveu
  font-size: inherit; */
}

.pai2::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.first {
  background-color: blue;
}

.second {
  background-color: red;
}

.last {
  background-color: black;
}

p {
  color: black;
  text-align: justify;
}

p::first-line {
  color: red;
}

p::first-letter {
  font-size: 60px;
}